{% comment %}
  Renders a standard dropdown style menu for the header.

  Usage:
  {% render 'header-dropdown-menu' %}
{% endcomment %}
{% assign button = section.blocks | where: "type", 'button' | first %}
{% assign match_link = button.settings.btn_label | handleize %}
<nav class="header__inline-menu">
  {% if button_enabled %}
  <div class="menu-wrapper-main">
  {% endif %}
  <ul class="list-menu list-menu--inline" role="list">
    {%- for link in section.settings.menu.links -%}
      {% unless button_enabled and match_link == link.handle %}
      <li>
        {%- if link.links != blank -%}
          {% liquid
            assign link_title = link.title | downcase | strip
            assign mega_menu_type = section.settings.mega_menu_type | downcase | strip
          %}
          <header-menu>
            <details id="Details-HeaderMenu-{{ forloop.index }}"{% if link_title == mega_menu_type %} class="mega-menu--type"{% endif %}>
              <summary
                id="HeaderMenu-{{ link.handle }}"
                class="header__menu-item list-menu__item link focus-inset"
              >
                <span
                  {%- if link.child_active %}
                    class="header__active-menu-item"
                  {% endif %}
                >
                  {{- link.title | escape -}}
                </span>
                {% render 'icon-caret' %}
                {% if section.settings.nav_open_hover %}
                  <a href="{{ link.url }}" class="link--overlay"></a>
                {% endif %}
              </summary>
              {% if link_title == mega_menu_type %}
                <div
                  id="MegaMenu-Content-{{ forloop.index }}"
                  class="mega-menu__content color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup"
                  tabindex="-1"
                >
                  <div class="page-width">
                    <ul
                      class="mega-menu__list list-unstyled"
                      role="list"
                    >
                      {%- for childlink in link.links -%}
                        <li>
                          <a
                            id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                            href="{{ childlink.url }}"
                            class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %}"
                            {% if childlink.current %}
                              aria-current="page"
                            {% endif %}
                          >
                            {{ childlink.title | escape }}
                          </a>
                          {%- if childlink.links != blank -%}
                            <ul class="menu__list-grandchild menu__list-grandchild-{{ forloop.index }} list-unstyled" role="list">
                              {%- for grandchildlink in childlink.links -%}
                                <li>
                                  <a
                                    id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                    href="{{ grandchildlink.url }}"
                                    class="mega-menu__link link{% if grandchildlink.current %} mega-menu__link--active{% endif %}"
                                    {% if grandchildlink.current %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    {{ grandchildlink.title | escape }}
                                  </a>
                                </li>
                              {%- endfor -%}
                            </ul>
                          {%- endif -%}
                        </li>
                      {%- endfor -%}
                    </ul>
                  </div>
                </div>
              {% else %}
                <ul
                  id="HeaderMenu-MenuList-{{ forloop.index }}"
                  class="header__submenu list-menu list-menu--disclosure color-{{ section.settings.menu_color_scheme }} gradient caption-large motion-reduce global-settings-popup"
                  role="list"
                  tabindex="-1"
                >
                  {%- for childlink in link.links -%}
                    <li>
                      {%- if childlink.links == blank -%}
                        <a
                          id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                          href="{{ childlink.url }}"
                          class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if childlink.current %} list-menu__item--active{% endif %}"
                          {% if childlink.current %}
                            aria-current="page"
                          {% endif %}
                        >
                          {{ childlink.title | escape }}
                        </a>
                      {%- else -%}
                        <details id="Details-HeaderSubMenu-{{ link.handle }}-{{ childlink.handle }}">
                          <summary
                            id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                            class="header__menu-item link link--text list-menu__item focus-inset caption-large"
                          >
                            <span>{{ childlink.title | escape }}</span>
                            {% render 'icon-caret' %}
                          </summary>
                          <ul
                            id="HeaderMenu-SubMenuList-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                            class="header__submenu list-menu motion-reduce"
                          >
                            {%- for grandchildlink in childlink.links -%}
                              <li>
                                <a
                                  id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                  href="{{ grandchildlink.url }}"
                                  class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if grandchildlink.current %} list-menu__item--active{% endif %}"
                                  {% if grandchildlink.current %}
                                    aria-current="page"
                                  {% endif %}
                                >
                                  {{ grandchildlink.title | escape }}
                                </a>
                              </li>
                            {%- endfor -%}
                          </ul>
                        </details>
                      {%- endif -%}
                    </li>
                  {%- endfor -%}
                </ul>
              {% endif %}
            </details>
          </header-menu>
        {%- else -%}
          <a
            id="HeaderMenu-{{ link.handle }}"
            href="{{ link.url }}"
            class="header__menu-item list-menu__item link link--text focus-inset"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            <span
              {%- if link.current %}
                class="header__active-menu-item"
              {% endif %}
            >
              {{- link.title | escape -}}
            </span>
          </a>
        {%- endif -%}
      </li>
      {% endunless %}
    {%- endfor -%}
  </ul>
{% if button_enabled %}
  <div class="button-area">
    <div class="button-action">
      <a href="{{ button.settings.btn_url }}" class="btn{% if button.settings.btn_outline %} button--secondary{% else %} button--primary{% endif %} button-small">{{ button.settings.btn_label }}</a>
    </div>
  </div>
</div>
{% endif %}
</nav>
